@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<br />
<br />

<div>
    <h4>Process Mass Intensity (PMI)</h4>

    C. Jiminez-Gonzalez, C. S. Ponder, Q. B. Broxterman, J. B. Manley, "Using the Right Green Yardstick: Why Process Mass Intensity Is Used in the Pharmaceutical Industry To Drive More Sustainable Processes", <i>Org. Process Res. Dev.</i>, 2011, <b>15</b>, 912-917 - DOI: <a href="https://dx.doi.org/10.1021/op200097d">10.1021/op200097d</a>
</div>

<br />
<br />

<div>
    <h4>E Factor</h4>

    R. A. Sheldon, "The E Factor: Fifteen years on", <i>Green Chem.</i>, 2017, <b>9</b>, 1273-1283 - DOI: <a href="https://dx.doi.org/10.1039/B713736M">10.1039/B713736M</a>
</div>

<br />
<br />

<div>
    <h4>Reaction Mass Efficiency (RME)</h4>

    R. A. Sheldon, "So you think your process is green, how do you know?—Using principles of sustainability to determine what is green–a corporate perspective", <i>Green Chem.</i>, 2001, <b>3</b>, 1-6 - DOI: <a href="https://dx.doi.org/10.1039/B007871I">10.1039/B007871I</a>
</div>

<br />
<br />

<div>
    <h4>Effective Mass Yield (EMY)</h4>

    T. Hudlicky, D. A. Frey, L. Koroniak, C. D. Claeboe, L. E. Brammer Jr., "Toward a ‘reagent-free’ synthesis", <i>Green Chem.</i>, 1999, <b>1</b>, 57-59 - DOI: <a href="https://dx.doi.org/10.1039/A901397K">10.1039/A901397K</a>
</div>