@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Please do not hesitate to contact us at the email address listed on this page if you have any queries.</p>

<address>
    <strong>Support:</strong>   <a href="mailto:edwardchristopheranderson@gmail.com">edwardchristopheranderson@gmail.com</a>
</address>